@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: VazirFont;
  src: url(../assets/fonts/Vazir.woff);
}

* {
  font-family: "VazirFont";
}

@keyframes fadeShow {
  from {
    transform: translateY(-5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeShow {
  animation: fadeShow 0.5s;
}


@keyframes fadeShow4 {
  from {
    transform: translateY(-5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeShow4 {
  animation: fadeShow4 0.5s;
}
@keyframes fadeShow1 {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fadeShow1 {
  animation: fadeShow1 1s;
}

@keyframes fadeShow2 {
  1% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  50% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeShow2 {
  animation: fadeShow2 1s;
}

@keyframes fadeShow3 {
  1% {
    transform: translateY(5rem);
    opacity: 0;
  }
  50% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeShow3 {
  animation: fadeShow3 1.8s;
}



@keyframes backgroundAnimation {
  0% {
    scale: 1;
    rotate: 0deg;
  }
  50% {
    scale: 1.05;
    rotate: -4deg;
  }
  100% {
    scale: 1;
    rotate: 0deg;
  }
}
.backgroundAnimation {
  animation: backgroundAnimation 10s infinite;
}

@keyframes SinglePagebackgroundAnimation {
  0% {
    scale: 1;
    opacity: 1;
  }
  50% {
    scale: 1.05;
    opacity: 0.7;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
.SinglePagebackgroundAnimation {
  animation: SinglePagebackgroundAnimation 10s infinite;
}
/* @keyframes sliderAnimation {
  0% {
    transform: scale(1);
    rotate: 0deg;
  }
  90% {
    rotate: 1deg;
    transform: scale(1.06);
  }
  100% {
    rotate: 0deg;
    transform: scale(1);
  }
}
.sliderAnimation {
  animation:  sliderAnimation 4s ease-in-out infinite;
} */

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
